<% layout('layout/page') -%>

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

<h1><%=lang.faq%></h1>
<div onclick="openVK()" class="btn faq_btn"><%=lang.ask%></div>
<p style="font-size:1.4rem;margin:-1rem 0rem 2rem 0rem">
	<%=lang.askdescription%>
</p>

<div id="vk_community_messages"></div>

<details class="spoiler">
	<summary>Какой транспортной компанией доставляете посылки? Как долго мне ее ждать?</summary>
	<div class="spoiler_data">Посылки присылаем почтой россии, если хотите ускорить отправление, тогда можете выбрать любую другую транспортную компанию, мы отправим именно ей, но тогда ответственность за доставку несете только вы. (С момента передачи в транспортную компанию)</div>
</details>
<details class="spoiler">
	<summary>Какова стоимость доставки? В какие города доставляете посылки?</summary>
	<div class="spoiler_data">Доставку осуществляем по всей россии, стоимость расчитывается индивидуально в зависимости от города, типа доставки и сроков доставки. </div>
</details>
<details class="spoiler">
	<summary>Как я могу оплатить свою посылку? Возможна ли оплата при получении?</summary>
	<div class="spoiler_data">Оплатить посылку вы можете прям на сайте, после оформления заказа. Оплата при получении возможна только в городе Екатеринбург и ближайших поселках. Так-же доставка в Нижний Тагил, Неаьянск, Верх-Нейвинск по договоренности.</div>
</details>
<details class="spoiler">
	<summary>Когда сайт начнет свою работу?</summary>
	<div class="spoiler_data">Если хотите поддержать проект и ускорить работу наших проггеров, переведите сколько не жалко денег)</div>
</details>
<details class="spoiler">
	<summary>Как мне получить скидку?</summary>
	<div class="spoiler_data">Чаще покупать, постоянным клиентам у нас положена неплохая скидка, чем больше вы покупаете, тем больше мы вам благодарны.</div>
</details>
<details class="spoiler">
	<summary>Какие материалы используете в своих товарах?</summary>
	<div class="spoiler_data">Стикеры мы делаем из водостойкого венила, остальное из качественной бумаги.</div>
</details>

<div class="bottom_info home_description" style="margin-top:4rem">
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.3759495548857!2d60.595515316198835!3d56.839494980857936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e8a9d2a7555%3A0xd3923d859106706a!2z0YPQuy4gOCDQnNCw0YDRgtCwLCA0LCDQldC60LDRgtC10YDQuNC90LHRg9GA0LMsINCh0LLQtdGA0LTQu9C-0LLRgdC60LDRjyDQvtCx0LsuLCA2MjAwMTQ!5e0!3m2!1sru!2sru!4v1543527274627" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div>
		<%=lang.adress%>: <br> 
		8 march st., 4 <br><br>
		<%=lang.phone%>: <br>
		89090207012
	</div>
</div>

<script type="text/javascript">
//Назначаем событие на detail - Закроем detail перед открием нового
const details = Array.from(document.querySelectorAll("details"))
details.forEach((targetDetail) => {
	targetDetail.addEventListener("click", () => {
		details.forEach((detail) => {
			if (detail !== targetDetail)
				detail.removeAttribute("open")
		})
	})
})

let widget = VK.Widgets.CommunityMessages(
	"vk_community_messages", 
	169908877, 
	{
		disableExpandChatSound: "1", 
		buttonType:"no_button", 
		disableButtonTooltip: "1"
	}
)
</script>