<% layout('layout/page') -%>

<style>
.page{
	padding: 0px;
	max-width:100%;
}
</style>

<div class="l-grid		l-grid--4x4		l-full-height">
	<div class="el-0 l-grid l-grid__item img-background align-center	l-span-column-2 l-span-row-2">
		<div class="content">
			<h2 class="heading"><%=lang.gallery.one%></h2>
		</div>
	</div>
	<div class="el-1 l-grid l-grid__item img-background align-center	l-span-column-2">
		<div class="content">
			<h2 class="heading"><%=lang.gallery.two%></h2>
		</div>
	</div>
	<div class="el-2 l-grid l-grid__item img-background align-center	l-span-column-2">
		<div class="content">
			<h2 class="heading"><%=lang.gallery.three%></h2>
		</div>
	</div>
	<div class="el-3 l-grid l-grid__item img-background align-center	l-span-column-2">
		<div class="content">
			<h2 class="heading"><%=lang.gallery.four%></h2>
		</div>
	</div>
	<div class="el-4 l-grid l-grid__item img-background align-center">
			<div class="content">
				<h2 class="heading"><%=lang.gallery.five%></h2>
			</div>
	</div>
	<div class="el-5 l-grid l-grid__item img-background align-center">
		<div class="content">
			<h2 class="heading"><%=lang.gallery.six%></h2>
		</div>
	</div>
</div>

<div style="padding:25px 50px;">
	<h1><%=lang.title%></h1>
	<div class="home_description">
		<div>
			<%=lang.home.text1%>
		</div>
		<div>
			<%=lang.home.text2%><br>
			<a href="mailto:<%=lang.home.email%>"><%=lang.home.email%></a>
		</div>
		<div class="home_b2">
			#design #shop #russia #smile #club
			#color #life #sticker #travel #music
		</div>
	</div>
	<h1><%=lang.about.title%></h1>
	<div class="home_description">
		<div>
			<%=lang.about.text1%>
		</div>
		<div>
			<%=lang.about.text2%>
		</div>
	</div>
</div>